NEXT_PUBLIC_YOUTUBE_API_KEY=AIzaSy...
NEXT_PUBLIC_GATEWAY_API_URL=http://....
NEXT_PUBLIC_SUPABASE_URLhttp://....
NEXT_PUBLIC_SUPABASE_KEY=sb_publis...

PRIVATE_SUPABASE_PRIVATE_KEY=sb_secret_...

DATABASE_URL=

NEXT_PUBLIC_OMISE_PUBLIC_KEY=pkey_....